<div class="container list-posts">


{{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
<div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
    {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)  }}
      {{- partial "blog-card.html" . -}}
    {{ end }}
  </div>

    
    <h1 class="list-title">{{ .Name }}</h2>

    {{ range (where .Pages "Params.type" "post" ).GroupByDate "2006" }}

    <h2 class="posts-year">{{ .Key }}</h2>

    {{- range .Pages -}}
        {{- partial "list-posts.html" . -}}
    {{ end }}
    {{ end }}

</div>
